.modal-drop {
  background: rgba(4, 4, 30, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  .modal {
    background: url('../../../assets/img/reconnecting_bg.png');
    background-size: cover;
    color: #fff;
    font-size: 16px;
    text-align: center;
    height: 315px;
    width: 420px;
    margin: 60px auto;
    padding: 20px 20px 20px 20px;
    position: relative;
    .modal-content {
      .img-wrapper {
        margin-bottom: 10px;
        text-align: center;
        .clock {
          background: url("../../../assets/img/clock.png");
          display: inline-block;
          width: 154px;
          height: 155px;
        }
      }
      .reconnect-now-btn {
        border: none;
        background: transparent url('../../../assets/img/reconnect_now_button-124.png') no-repeat;
        width: 207px;
        height: 43px;
        margin: 24px auto 0;
      }
    }
  }
}
