<div class="wrapper">
  <div class="enter-wrapper">
    <div class="logo-wrapper">
      <div class="logo"></div>
    </div>

    <div class="terms">
      <label class="custom-checkbox">
        <input type="checkbox" id="agree" [(ngModel)]="agree"/>
        <span></span>
      </label>
      <label for="agree">I agree to the <a (click)="openTACModal($event)">terms and conditions</a></label>
    </div>

    <button type="button" class="enter-btn" (click)="goToMain()" [disabled]="!agree"></button>
  </div>

  <div class="clubs-bg"></div>
  <div class="diamonds-bg"></div>
  <div class="hearts-bg"></div>
  <div class="spades-bg"></div>

</div>

<app-terms-and-conditions-modal *ngIf="showTACModal" (close)="closeTacModal()"></app-terms-and-conditions-modal>

