<div *ngIf="stats">
  <div class="stat-graph">
    <div class="worse" [style.width]="getWorseHandsPercents()+'%'"></div>
    <div class="same" [style.width]="getSameHandsPercents()+'%'"></div>
    <div class="better" [style.width]="getBetterHandsPercents()+'%'"></div>
  </div>
  <div class="stat-legend">
    <div class="worse">{{getRounded(getWorseHandsPercents())}}% ({{stats.worseHands}}) worse</div>
    <div class="same">{{getRounded(getSameHandsPercents())}}% ({{stats.sameHands}}) same</div>
    <div class="better">{{getRounded(getBetterHandsPercents())}}% ({{stats.betterHands}}) better</div>
  </div>

</div>
