.modal-drop {
  background: rgba(4,4,30, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  .modal {
    background-image: url('../../../assets/img/web-pop-up-bg 1.png');
    background-size: cover;
    color: #fff;
    height: 570px;
    width: 718px;
    margin: 66px auto;
    padding: 60px 20px 20px 64px;
    position: relative;

    h4 {
      margin-bottom: 20px;
    }

    .cancel {
      cursor: pointer;
      position: absolute;
      right: 33px;
      top: 30px;
      img {
        width: 100%;
      }
    }

    .modal-content {
      height: 450px;
      overflow-y: hidden;
    }


    ::-webkit-scrollbar {
      width: 15px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: #000;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgb(122,108,221);
    }
  }
}

@media (max-width: 1336px) {
  .modal-drop {
    .modal {
      font-size: 16px;
      h4 {
        font-size: 16px;
      }
      .cancel {
        width: 20px;
      }
    }
  }
}

