<div class="modal-drop">
  <div class="modal">
    <div class="cancel" (click)="close.next()">
      <img src="../../assets/img/web-cancel 1.png">
    </div>

    <div class="modal-content">
      <h4>Terms and conditions</h4>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus vel sem et enim mattis ornare ut sit amet dui.
        Aliquam tristique dapibus molestie. Fusce diam neque, eleifend scelerisque ligula eget, elementum lacinia ex.
        Quisque in leo sit amet risus tincidunt laoreet. Vestibulum vel felis ultricies, volutpat tortor in, volutpat tellus.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Pellentesque nisl enim, tristique et nibh sed, hendrerit aliquet est.
        Donec elit dui, faucibus vel eros ultrices, scelerisque ornare eros. Aliquam ut est et sapien accumsan malesuada.
        Nulla semper tortor ut magna malesuada varius.
      </div>
    </div>
  </div>

</div>
