<div class="modal-drop" *ngIf="show && stats">
  <div class="modal" [ngClass]="modalType">
    <div class="stat-img"></div>
    <div class="cancel" (click)="close.next()">
      <img src="../../assets/img/web-cancel 1.png">
    </div>

    <div class="modal-content" *ngIf="modalMode === 'other'">
      <button type="button" class="show" *ngIf="modalType !== 'river'" (click)="setModalMode('me')">Show possible hands for me</button>
      <h3>Possible better hands by other players:</h3>
      <div *ngIf="stats.betterHandsList && stats.betterHandsList.length">
        <div class="arrows">
          <div class="arrow"
               *ngFor="let hand of stats.betterHandsList; index as i"
               [ngClass]="getClassName(hand.handTypeString)" (click)="setIndex(i)">
          </div>
        </div>
        <button type="button" class="nav" [ngClass]="getClassName(stats.betterHandsList[handsIndex].handTypeString)">
          <img class="nav-arrow nav-arrow-left"
               src="../../assets/img/web-arrow-right%201.png"
               [ngClass]="{disabled: isFirst()}"
               (click)="back()">
          <img class="nav-arrow nav-arrow-right"
               src="../../assets/img/web-arrow-right%201.png"
               [ngClass]="{disabled: isLast()}"
               (click)="forward()">
          {{stats.betterHandsList[handsIndex].handTypeString}}
          ({{stats.betterHandsList[handsIndex].ways}} {{stats.betterHandsList[handsIndex].ways > 1 ? 'ways': 'way'}})
        </button>
        <div class="modal-content-scrollable">
          <div class="modal-list" *ngFor="let detail of stats.betterHandsList[handsIndex].details">
            <div class="modal-list-icon modal-list-icon-open" *ngIf="detail.open" (click)="toggle(detail)"></div>
            <div class="modal-list-icon modal-list-icon-close" *ngIf="!detail.open" (click)="toggle(detail)"></div>
            <div class="modal-list-content">
              <h4>{{stats.betterHandsList[handsIndex].handTypeString}} - {{detail.handSubTypeString}}
                ({{detail.hands.length}} {{detail.hands.length > 1 ? 'ways' : 'way'}})</h4>
              <ul class="hand-details" *ngIf="detail.open === true">
                <li *ngFor="let hand of detail.hands">{{getHand(hand)}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="no-results" *ngIf="!stats.betterHandsList || !stats.betterHandsList.length">
        There are no better possible hands at this stage
      </div>
    </div>

    <div class="modal-content" *ngIf="modalMode === 'me'">
      <button type="button" class="show" (click)="setModalMode('other')">Show possible hands by other players</button>
      <h3>Possible hands by me:</h3>
      <div class="modal-content-scrollable" *ngIf="stats.byShowDown && stats.byShowDown.length">
        <ul>
          <li class="showdown-hand" *ngFor="let hand of stats.byShowDown">{{hand.handTypeString}} - {{hand.ways}}</li>
        </ul>
      </div>
      <div class="no-results" *ngIf="!stats.byShowDown || !stats.byShowDown.length">
        There are no better possible hands at this stage
      </div>
    </div>
  </div>

</div>
