.modal-drop {
  background: rgba(4,4,30, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  .modal {
    background-image: url('../../../assets/img/web-pop-up-bg 1.png');
    background-size: cover;
    height: 807px;
    width: 1017px;
    margin: 66px auto;
    padding: 60px 20px 20px 64px;
    position: relative;
    .stat-img {
      background-size: cover;
      position: absolute;
      top: -20px;
      left: 64px;
      width: 186px;
      height: 51px;
    }
    &.flop .stat-img {
      background-image: url('../../../assets/img/web-flop-stats 2.png');
    }
    &.turn .stat-img {
      background-image: url('../../../assets/img/web-turn-stats-web 2.png');
    }
    &.river .stat-img {
      background-image: url('../../../assets/img/web-river-stats 1.png');
    }
    .cancel {
      cursor: pointer;
      position: absolute;
      right: 33px;
      top: 30px;
      img {
        width: 100%;
      }
    }
    button.show {
      background: rgb(43,9,79);
      border: 1px solid rgb(21,116,255);
      border-radius: 20px;
      color: rgb(21,116,255);
      font-size: 18px;
      padding: 5px 20px;
    }
    h3 {
      margin-top: 25px;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
    .arrows {
      margin-top: 30px;
      text-align: center;
      .arrow {
        cursor: pointer;
        display: inline-block;
        width: 31px;
        height: 17px;
        margin-right: 40px;
        background-size: cover;
        &:last-child {
          margin-right: 0;
        }
      }

      .high-card {
        background: url('../../../assets/img/web-arrow-high-card.png') left center no-repeat;
        background-size: cover;
      }

      .one-pair {
        background: url('../../../assets/img/web-arrow-one-pair.png') left center no-repeat;
        background-size: cover;
      }

      .two-pair {
        background: url('../../../assets/img/web-arrow-two-pair.png') left center no-repeat;
        background-size: cover;
      }

      .three-of-a-kind {
        background: url('../../../assets/img/web-arrow-three-of-a-kind.png') left center no-repeat;
        background-size: cover;
      }

      .four-of-a-kind {
        background: url('../../../assets/img/web-arrow-Four-of-a-kind.png') left center no-repeat;
        background-size: cover;
      }

      .five-of-a-kind {
        background: url('../../../assets/img/web-arrow-Five-of-a-kind.png') left center no-repeat;
        background-size: cover;
      }

      .full-house {
        background: url('../../../assets/img/web-arrow-full-house.png') left center no-repeat;
        background-size: cover;
      }

      .straight {
        background: url('../../../assets/img/web-arrow-Straight.png') left center no-repeat;
        background-size: cover;
      }

      .flush {
        background: url('../../../assets/img/web-arrow-Flush.png') left center no-repeat;
        background-size: cover;
      }

      .straight-flush {
        background: url('../../../assets/img/web-arrow-Straight-flush.png') left center no-repeat;
        background-size: cover;
      }

      .other {
        background: url('../../../assets/img/web-arrow-other.png') left center no-repeat;
        background-size: cover;
      }
    }
    button.nav {
      border: none;
      border-radius: 10px;
      color: #fff;
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      margin-top: 22px;
      text-align: center;
      position: relative;
      line-height: 40px;
      &.high-card {
        background: rgb(23,184,255);
      }

      &.one-pair {
        background: rgb(102,102,255);
      }

      &.two-pair {
        background: rgb(255,69,3);
      }

      &.three-of-a-kind {
        background: rgb(206,181,2);
      }

      &.four-of-a-kind {
        background: rgb(255,101,0);
      }

      &.five-of-a-kind {
        background: rgb(150,31,234);
      }

      &.full-house {
        background: rgb(13,211,74);
      }

      &.straight {
        background: rgb(2, 173, 99);
      }

      &.flush {
        background: rgb(229,69,229);
      }

      &.straight-flush {
        background: rgb(147,219,7);
      }

      &.other {
        background: rgb(0,0,0);
      }
      .nav-arrow{
        position: absolute;
        cursor: pointer;
        &.disabled {
          cursor: default;
          opacity: 0.8;
        }
      }
      .nav-arrow-left {
        left: 40px;
        top: 7px;
        transform: rotate(180deg);
      }
      .nav-arrow-right {
        right: 40px;
        top: 7px;
      }
    }
    .modal-content-scrollable {
      margin-top: 15px;
      color: #fff;
      padding-bottom: 15px;
      height: 475px;
      overflow: auto;
      .modal-list {
        &:first-child {
          margin-top: 35px;
        }
        .modal-list-icon {
          cursor: pointer;
          vertical-align: top;
          display: inline-block;
          width: 32px;
          height: 31px;
          margin-right: 40px;
          margin-left: 45px;
        }
        .modal-list-icon-open {
          background-image: url("../../../assets/img/web-open_list.png");
        }
        .modal-list-icon-close {
          background-image: url("../../../assets/img/web-shut-list.png");
        }
        .modal-list-content {
          display: inline-block;
          h4 {
            font-size: 20px;
            font-weight: bold;
            line-height: 31px;
            margin-bottom: 20px;
          }
          ul {
            margin-bottom: 20px;
            li {
              font-size: 24px;
              text-transform: uppercase;
              margin-bottom: 8px;
            }
          }
        }
      }
    }

    .showdown-hand {
      font-size: 20px;
      font-weight: bold;
      line-height: 31px;
    }

    .no-results {
      color: #fff;
      margin-top: 20px;
    }

    ::-webkit-scrollbar {
      width: 15px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: #000;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgb(122,108,221);
    }
  }

}

@media (max-width: 1336px) {
  .modal-drop {
    .modal {
      height: 570px;
      width: 718px;
      font-size: 16px;
      .stat-img {
        width: 132px;
        height: 36px;
        top: -10px;
        left: 60px;
      }
      h3, h4 {
        font-size: 16px;
      }
      .showdown-hand {
        font-size: 16px;
      }
      .cancel {
        width: 20px;
      }
      button.nav {
        border-radius: 5px;
        font-size: 16px;
        line-height: 24px;
        .nav-arrow {
          width: 20px;
          img {
            width: 100%;
          }
          &.nav-arrow-right, &.nav-arrow-left {
            top: 5px;
          }
        }
      }
      .modal-content-scrollable {
        height: 300px;
      }
    }
  }
}
